 /* positioning the top yellow blobs */

.blob {
  width: 600px;
  height: 650px;
  margin-right: 10em;
  top: -90px;
  left: -9rem;
  z-index: 100;
  transform: rotate(-10deg);
  position: absolute;
}

#object{
  object-position: 100% 200%;
}

.joanna {
  width: 600px;
  height: 650px;
  margin-right: 10em;
  top: -90px;
  right: -9rem;
  z-index: 100;
  position: absolute;
}

#object{
  object-position: 100% 200%;
}

/* navigation bar */
body {
  margin: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  z-index: 100;
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
background: #ffffff;
position: relative;
z-index: -2;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
color: #ffbd59;
}

nav a::before {
content: '';
display: block;
height: 5px;
width: 100%;
background-color:#ffbd59;

position: absolute;
top: 0;
width: 0%;

transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;
}

/* Hi there! I'm Joanna Hughes! An aspiring software developer */

h1 {
  position: relative;
  top: 10px;
  left: 700px;
  font-size: 80px;
}

h2 {
  position: relative;
  top: 10px;
  left: 700px;
  font-size: 35px;
}

/* ABOUT ME grid block*/

ul {
  background-color: white;
  padding: 0;
  margin: 0;
}
li {
  background-color: white;
}

.grid {
  background-color:  #ffbd59;
  padding: 10em;
  bottom: 50px;
}
.manchester {
  width: 300px;
  height: 500px;
  margin-right: 10em;
  bottom: -20px;
  right: -15rem;
  z-index: 100;
  transform: rotate(-20deg);
  position: absolute;
}

#object{
  object-position: 100% 200%;
}

/* wrapping text in the centre gof the page */

.div {
  width: 430px;
  text-align : center;
  }
.wrap {
  word-wrap: normal;
}


/* portfolio */

.portfolio {
  background-color:  #f9d564;
  padding: 10em;
  bottom: 50px;
}

/* adding a footer*/

Footer {
  width: 100%;
  height: 50%;
  background-color: #f19820;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 6.5%;
}
